*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #17c6aa ;
    --color-gray: #b3b3b3;
    --font-iranSans: "IRAN Sans"
}


.products-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}
.products-content__left{
    flex-basis: 50%;
}
.products-content__image{
    /*width: 80%;
    height: 80%;*/
    object-fit: cover;
}
.products-content__right{
    flex-basis: 50%;
}
.products-content__title{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}
.products-content__description{

}
.products-content__price{
margin-top: 1.5rem;
color: var(--color-primary);
font-weight: normal;
}

/* Responsive Project */ 

@media only screen and (max-width: 1200px) {
    .container{
      max-width: 960px;
    }
  
  }

  @media only screen and (max-width: 992px){
    .container{
      max-width: 720px;
    }
  }

  
  @media only screen and (max-width: 768px) {
    .container{
      max-width: 540px;
    }

    .products-content{
        flex-direction: column;
    }
    .products-content__left{
        flex-basis: 100%;
    }
    .products-content__right{
        flex-basis: 100%;
        padding-top: 2.5rem;
    }
   
    .products-content__image{
        /*width: 80%;
        height: 80%;*/
        object-fit: cover;
    }
  
  }

  @media only screen and (max-width: 576px){
    .container{
      max-width: 100%;
    }
    .products-content__right{
        text-align: center;
    }
  }