*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.weblog-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}
.weblog-content__top{
flex-basis: 100%;
}
.weblog-content__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .4rem;
}
.weblog-content__bottom{
    padding-top: 2.5rem ;
    text-align: center;
}
.weblog-content__title{
    font-size: 1.8rem;
}
.weblog-content__description{
    padding-top: 2rem ;
    line-height: 2rem;

}
.weblog-content__date{
    padding-top: 3rem;
    text-align: right;
    display: flex;
    align-items: center;

}
.content__date{

}